In [1]:
2+3

5

In [9]:
# variable num = 2+3  # = assignment operator

In [10]:
num

5

a = 5
b = 6
new_num = a+b
print(new_num)

In [13]:
new_num

11

In [14]:
new_num

11

# legal Variable
* letter , underscore , number
* varable will't start from a number

In [16]:
my_name = "waqas"

In [17]:
my_name

'waqas'

In [18]:
num

5

In [20]:
type(num)

int

In [22]:
type(my_name) #string "1" koi bhi word inverted comma me aye wo string he

str

In [23]:
print(type(my_name))

<class 'str'>

In [24]:
decimal = 2.5
print(type(decimal))

<class 'float'>

In [25]:
#Data type check krne k lie Type function use kren

In [26]:
classs2 = " "
type(classs2)

str

In [28]:
num + 7

12

In [29]:
num

5

In [30]:
num * 8

40

In [31]:
num = num + 8

In [32]:
num

13

In [33]:
num = num * 8

In [34]:
num

104

In [35]:
num

104

In [36]:
# num = num +2 = num += 5

In [37]:
num += 3

In [38]:
num

107

In [39]:
num -= 4

In [40]:
num

103

In [41]:
num / = 5

SyntaxError: invalid syntax (<ipython-input-41-22b61c2c90e8>, line 1)

In [42]:
num /= 5

In [43]:
num

20.6

In [45]:
2/2 # division ans also in flot

1.0

In [47]:
"Muhammad " + my_name

'Muhammad waqas'

In [48]:
"Sir" + " " + my_name

'Sir waqas'

In [49]:
my_name + str(5)

'waqas5'

In [50]:
my_name + "5"

'waqas5'

In [51]:
my_name + str(num)

'waqas20.6'

In [52]:
my_name += str(4)  #short cut

In [53]:
my_name

'waqas4'

In [54]:
float("2.3") #type casting

2.3

In [55]:
float("50.68")

50.68

In [56]:
float ("waqas")

ValueError: could not convert string to float: 'waqas'

In [60]:
int(float("2.9")) #first float then int

2

In [61]:
float("2.9")

2.9

In [62]:
int(2.9)

2

In [63]:
 #Hr cheeze String Me h sakti he , float and int me hr cheeze convert ni hoti

In [65]:
str("100$")

'100$'

In [66]:
Enter = input("name")

namezeeshan

In [67]:
enter

NameError: name 'enter' is not defined

In [70]:
print(Enter)

zeeshan

In [73]:
name = input ("Enter your name")

Enter your namezeeshan

In [78]:
Last = input ("Enter Your Last Name")

Enter Your Last Namemaken

In [5]:
print(name)

NameError: name 'name' is not defined

In [4]:
email = inpu("enter email")

NameError: name 'inpu' is not defined

In [1]:
print("hello")

hello

In [6]:
5 % 2

1

In [7]:
6 % 2

0

In [9]:
5 ** 2 % 3 #% also use in exponent

1

In [10]:
6 / 2

3.0

In [12]:
float(3.0)

3.0

In [22]:
floor = 10 // 2  #floor also give ans in integer floor and PEMDAS IS OPERATOR

In [23]:
floor

5

In [24]:
25 / 4

6.25

In [25]:
type (25/4)

float

In [27]:
value = 7 / 5

In [28]:
value

1.4

In [29]:
int(value)

1

In [32]:
floor = 7 // 5

In [33]:
floor

1

In [34]:
#agr koi cheeze next use krni hy to variable me store krwaeen

In [35]:
cit_1 = "Faisalabad"
cit_2 = "lahore"
cit_3 = "Multan"

In [38]:
print(cit_1,cit_2)

Faisalabad lahore

* Collection chp

In [40]:
cities = ["faislabad", "Multan" , "Lahore" , "KARACHI"]

In [41]:
cities

['faislabad', 'Multan', 'Lahore', 'KARACHI']

In [42]:
print(cities)

['faislabad', 'Multan', 'Lahore', 'KARACHI']

In [46]:
marks = [96.7 , 45.61, 56 , "zeeshan"]

In [47]:
marks

[96.7, 45.61, 56, 'zeeshan']


* inko find krne k lie no asing kre gy
  0                 1      2           3
["faislabad", "Multan" , "Lahore" , "KARACHI"]

In [49]:
cities [0]

'faislabad'

In [50]:
cities[2]

'Lahore'

In [52]:
cities[3]

'KARACHI'

In [53]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']